<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icon/apple-touch-icon.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/icon/favicon-32x32.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/icon/favicon-16x16.png' | prepend: site.baseurl }}">
<link rel="manifest" href="{{ '/assets/img/icon/site.webmanifest' | prepend: site.baseurl }}">
<link rel="mask-icon" href="{{ '/assets/img/icon/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#4b4b4d">
<meta name="msapplication-TileColor" content="#4b4b4d">
<meta name="theme-color" content="#4b4b4d">